<table class="ui very basic table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Upstrem url</th>
      <th>Request host</th>
      <th>Request path</th>
      <th>Created on</th>
    </tr>
  </thead>
  <tbody>
  <% _.each(data.data, function(item){ %>
      <tr>
          <td><%=item.name %></td>
          <td><%=item.upstream_url %></td>
          <td><%=item.request_host %></td>
          <td><%=item.request_path %></td>
          <td><%=toDate(item.created_at) %></td>
      </tr>
  <% }); %>
  </tbody>
</table>
